<form (ngSubmit)="register()" [formGroup]="registerForm">
    <div>
      <label for="nombre">Nombres:</label>
      <input type="text" id="nombre" formControlName="nombre" required> 
    </div>
  
    <div>
      <label for="tipoDocumento">Tipo de Documento:</label>
      <select id="tipoDocumento" formControlName="tipoDocumento" required>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cédula de Extranjería</option>
      </select>
    </div>
  
    <div>
      <label for="numeroDocumento">Número de Documento:</label>
      <input type="text" id="numeroDocumento" formControlName="numeroDocumento" required>
    </div>
  
    <div>
      <label>Género:</label>
      <input type="radio" id="masculino" formControlName="genero" value="Masculino">
      <label for="masculino">Masculino</label>
      <input type="radio" id="femenino" formControlName="genero" value="Femenino">
      <label for="femenino">Femenino</label>
      <input type="radio" id="otro" formControlName="genero" value="Otro">
      <label for="otro">Otro</label>
    </div>
  
    <div>
      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" formControlName="correo" required>
    </div>
  
    <div>
      <label for="password">Contraseña:</label> <input type="password" id="password" formControlName="password" required>
    </div>
  
    <div>
      <label for="telefono">Teléfono Móvil:</label>
      <input type="tel" id="telefono" formControlName="telefono" required>
    </div>
  
    <div>
      <label for="rol">Rol:</label>
      <select id="rol" formControlName="rol" required>
        <option value="admin">Administrador</option>
        <option value="user">Usuario</option>
      </select>
    </div>
  
    <div>
      <label for="fechaNacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fechaNacimiento" formControlName="fechaNacimiento" required>
    </div>
  
    <div>
      <label for="foto">Foto:</label>
      <input type="file" id="foto" (change)="onFileSelected($event)" accept="image/*">
    </div>
  
    <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
  </form>
  
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
  